@import "tailwindcss";

@theme {
  --color-congo-green: #57F52F;
  --color-congo-dark: #064025;
  --color-congo-medium: #1E8B31;
  --color-congo-bright: #26AD39;
  --color-congo-lime: #1DDA59;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}